# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin
*.class
*.log

# Dependency directories
/node_modules/
/vendor/

# Test coverage
/coverage

# Build output
/target/
/dist/
/out/

# Logs
*.log

# Environment files
.env